* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 58px;
}
.header-icon {
  display: none;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu li a {
  font-family: Rubik-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}
.header-menu li a:hover {
  color: #F53855;
}
.header-btn {
  display: flex;
}
.header-btn button {
  padding: 13px 45px;
  border-radius: 50px;
}
.header-btn button:nth-child(1) {
  border: none;
  background-color: transparent;
  font-family: Rubik-Bold;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
.header-btn button:nth-child(1):hover {
  cursor: pointer;
}
.header-btn button:nth-child(2) {
  border: 1px solid #F53855;
  background-color: transparent;
  font-family: Rubik-Medium;
  font-weight: 500;
  font-size: 16px;
  color: #F53855;
}
.header-btn button:nth-child(2):hover {
  background-color: #F53855;
  cursor: pointer;
  color: white;
}

@media (max-width: 985px) {
  .header-menu {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .header-btn button:nth-child(1),
  .header button:nth-child(2) {
    display: none;
  }
}
@media (max-width: 720px) {
  .header {
    align-items: center;
  }
  .header-menu {
    display: none;
  }
  .header-icon {
    display: block;
    color: #F53855;
  }
}
.want {
  display: flex;
  justify-content: space-around;
}
.want-mark {
  font-weight: 700;
  background-color: transparent;
}
.want-mark-two {
  font-weight: 500;
  background-color: transparent;
}
.want-br {
  display: none;
}
.want-box {
  padding-top: 120px;
}
.want-box h1 {
  font-family: Rubik-Medium;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: #0b132a;
}
.want-box p {
  font-family: Rubik-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.want-box button {
  margin-top: 45px;
  padding: 17.5px 77.5px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(245, 56, 56);
  color: rgb(255, 255, 255);
  box-shadow: rgba(245, 56, 56, 0.35) 0px 20px 40px;
  font-family: Rubik-Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
}
.want-box button:hover {
  background-color: #0B132A;
  box-shadow: none;
  cursor: pointer;
}
.want-img {
  margin-top: 100px;
}
.want-none {
  display: none;
}

.user {
  display: flex;
  gap: 36px;
  padding-top: 33px;
}
.user-box {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #FFECEC;
}
.user-box i {
  color: #F53855;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.user span h6 {
  font-family: Rubik-Bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #0b132a;
}
.user span p {
  font-family: Rubik-Regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4f5665;
}

.big-user {
  display: flex;
  justify-content: space-around;
  padding-top: 102px;
}

.hr {
  width: 1px;
  height: 125px;
  background-color: #eeeff2;
}

.provide {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, #F7F7F7, #fff);
  padding-bottom: 130px;
}
.provide-img {
  padding-top: 95px;
}
.provide-text {
  padding-top: 150px;
}
.provide-text h4 {
  font-family: Rubik-Medium;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
}
.provide-text h6 {
  font-family: Rubik-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  padding-top: 20px;
}
.provide-text span {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 8px;
}
.provide-text span p {
  font-family: Rubik-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
  padding-top: 10px;
}

@media (max-width: 1165px) {
  .want-box h1 {
    font-size: 40px;
  }
  .want-box p {
    font-size: 13px;
  }
  .want-img img {
    width: 500px;
  }
}
@media (max-width: 945px) {
  .want {
    display: block;
  }
  .want-none {
    display: block;
    padding-top: 50px;
  }
  .want-none img {
    display: flex;
    margin: 0 auto;
  }
  .want-img {
    display: none;
  }
  .want-box h1,
  .want-box p {
    text-align: center;
  }
  .want-box button {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
  }
  .provide {
    display: block;
  }
  .provide-img {
    display: flex;
    justify-content: center;
  }
  .provide-text h4 {
    text-align: center;
  }
  .provide-text h6 {
    text-align: center;
  }
  .provide-text span {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .want-none img {
    width: 450px;
  }
  .datas {
    display: none;
  }
}
@media (max-width: 520px) {
  .provide-img img {
    width: 350px;
  }
  .want-br {
    display: block;
  }
  .want-none img {
    width: 350px;
  }
}
@font-face {
  font-family: Rubik-Regular;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Rubik-Medium;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik-Bold;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=index.css.map */